
class Config(object):

    VOCABULARY_PROPOSAL_RECIPIENT = 'curator@mail.com'
    SMTP_SERVER = 'smtp.mail.com'
    SMTP_PORT = 587
    SMTP_USER = 'curator@mail.com'
    SMTP_PASSWORD = 'xxxx xxxx xxxx xxxx'
